<div class="card">
  <div class="card-body no-padding">
    <h5 class="card-title">
      Inbox
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-filter"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item selected" [ngClass]="{'selected': filter === 'all' }" (click)="setFilter('all')"><i class="fa fa-check"></i>All</a>
          <a class="dropdown-item" [ngClass]="{'selected': filter === 'completed' }" (click)="setFilter('completed')"><i class="fa fa-check"></i>Completed</a>
          <a class="dropdown-item" [ngClass]="{'selected': filter === 'not-completed' }" (click)="setFilter('not-completed')"><i class="fa fa-check"></i>Not completed</a>
        </div>
      </div>
    </h5>

    <div class="entries-wrapper">
      <ng-scrollbar [autoHide]="true">
      <ng-container *ngIf="entries.length > 0; else noEntries">
        <div *ngFor="let entry of entries" class="entry" [ngClass]="{'selected': selectedEntryId == entry.id, 'unread': entry.unread === 'true'}" (click)="showDetails(entry.id)" id="entry-{{entry.id}}">
          <h6>{{entry.title}}
            <span [ngClass]="entry.status" class="badge">{{entry.label}}</span>
          </h6>
          <span class="meta-data">Received on {{entry.date}}</span>
        </div>
      </ng-container>

      <ng-template #noEntries>
        <div *ngIf="!loadingEntries" class="placeholder">
          No tasks or messages to show
        </div>
        <div *ngIf="loadingEntries" class="placeholder">
          <i class="fa fa-circle-o-notch fa-spin"></i> Loading inbox...
        </div>
      </ng-template>

      </ng-scrollbar>
    </div>

  </div>
</div>