<div class="card full-height">
    <ng-scrollbar>
    <div class="card-body">
        <h5 class="card-title">New product</h5>
        <p class="card-text">Add a new product.</p>
        <form [form]="'form-new-product'"></form>
        <button [caller]="'form-new-product'" type="submit" class="btn btn-primary">Add product</button>

        <h5 class="card-title">New customer</h5>
        <p class="card-text">Add new customer.</p>
        <form [form]="'form-new-customer'"></form>
        <button [caller]="'form-new-customer'" type="submit" class="btn btn-primary">Add customer</button>
    </div>
    </ng-scrollbar>
</div>