.card {
  .card-body {
    .card-title {
      button {
        position: absolute;
        right: 1.25rem;
        top: 10px;
      }
    }
  }
}

.ch-table {
  position: relative;
  .ch-row {
    &.selected {
      background: #f2f2f2;
      .ch-col {
        .link {
          &:hover {
            color: inherit !important;
            cursor: default;
          }
        }
      }
    }
    .ch-col {
      button {
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
  .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: calc(100vh - 150px);
  }
}

.link {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    color: #c7c7c7 !important;
  }
}