header {
  width: 100%;
  height: 116px;
  padding: 0 0 0 250px; }
  header .header {
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    position: relative; }
    header .header .toggle-sidebar {
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #626262;
      cursor: pointer;
      display: none;
      position: absolute;
      left: 0;
      transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }
      header .header .toggle-sidebar.sidebar-toggled {
        left: 250px; }
    header .header .user {
      width: 110px;
      height: 60px;
      position: absolute;
      right: 20px;
      top: 0; }
      header .header .user span {
        text-transform: capitalize;
        width: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        float: left;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        text-align: right; }
      header .header .user .avatar {
        position: absolute;
        right: -40px;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        background: #c7c7c7;
        overflow: hidden;
        cursor: pointer; }
        header .header .user .avatar img {
          width: 100%; }
      header .header .user .user-menu {
        position: absolute;
        width: 100px;
        height: auto;
        padding: 5px 0;
        top: 10px;
        right: -21px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #e6e6e6; }
        header .header .user .user-menu .selector {
          width: 20px;
          height: 10px;
          background-image: url("../../../assets/img/selector.png");
          background-size: 100%;
          background-position: center bottom;
          position: absolute;
          top: -10px;
          right: 5px; }
        header .header .user .user-menu a {
          cursor: pointer;
          width: 100%;
          height: 20px;
          line-height: 20px;
          display: block;
          box-sizing: border-box;
          padding: 0 10px; }
          header .header .user .user-menu a:hover {
            background: #f8f8f8; }
          header .header .user .user-menu a:active {
            background: #eaeaea; }
          header .header .user .user-menu a i {
            display: inline-block;
            width: 15px;
            font-size: 12px; }
    header .header .switch-account {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bolder;
      line-height: 60px;
      position: absolute;
      right: 150px;
      top: 0;
      height: 59px;
      width: auto;
      padding: 0 20px;
      background: #f8f8f8; }
      header .header .switch-account .btn-group button {
        margin-left: 20px;
        text-transform: capitalize; }
        header .header .switch-account .btn-group button i {
          display: none; }
      header .header .switch-account .btn-group .dropdown-menu a {
        height: 30px;
        line-height: 25px;
        font-size: 12px;
        text-transform: capitalize; }
  header .breadcrumbs {
    width: 100%;
    height: 55px;
    background: #f0f0f0; }
    header .breadcrumbs ul {
      list-style: none;
      padding: 0 40px; }
      header .breadcrumbs ul li {
        color: #7b7d82;
        font-weight: 300;
        display: inline-block;
        height: 50px;
        line-height: 50px; }
        header .breadcrumbs ul li:after {
          font-family: 'FontAwesome';
          content: 'f105';
          display: inline-block;
          width: 40px;
          text-align: center; }
        header .breadcrumbs ul li:last-child:after {
          display: none !important; }

/* Media Queries */
@media only screen and (max-width: 980px) {
  header {
    padding: 0; }
    header .header .toggle-sidebar {
      display: block; } }
@media only screen and (max-width: 768px) {
  header .header .toggle-sidebar.sidebar-toggled {
    left: 190px;
    color: #fff;
    z-index: 11; } }
@media only screen and (max-width: 520px) {
  header .header .switch-account span {
    display: none; }
  header .header .switch-account .btn-group button {
    margin: 0; }
    header .header .switch-account .btn-group button i {
      display: inline-block; } }

/*# sourceMappingURL=header.component.css.map */
