<app-edit-element-properties></app-edit-element-properties>

<div [ngClass]="{'hide': !overlay }" class="block-overlay">
    {{overlayText}}
</div>

<app-keyboard-shortcuts></app-keyboard-shortcuts>

<div id="modeler-container">
    <div id="modeler-header">
        <div class="name" #nameContainer>
            <label for="edit-name" (click)="editName()" [ngClass]="{'hide': editingName }">
                <ng-container *ngIf="processName !== ''; else placeholder">
                    {{processName}}
                </ng-container>
                <ng-template #placeholder>
                    <div class="placeholder">Enter name</div>
                </ng-template>
                <i class="fa fa-pencil"></i>
            </label>
            <input type="text" class="edit-name" id="edit-name" placeholder="Enter name" [ngClass]="{'hide': !editingName }" name="name" [(ngModel)]="processName">
        </div>
        <div id="task-bar">
            <div class="task-bar-elements">
                <button type="button" class="btn btn-light" (click)="saveProcess()">Save</button>
                <button type="button" class="btn btn-light" (click)="exportXml()">Export XML</button>
                <button type="button" class="btn btn-light" (click)="exportSvg()">Export SVG</button>
                <button type="button" class="btn btn-light" (click)="resetZoom()">Reset zoom</button>
            </div>
        </div>
    </div>
    <app-properties-panel></app-properties-panel>
    <div class="instructions">
        <span>
            <i class="fa fa-info-circle"></i> Use ctrl + scroll to zoom the diagram
        </span>
        <span>
            <i class="fa fa-keyboard-o" aria-hidden="true"></i> <a (click)="showKeyboardShortcuts()">Show keyboard shortcuts</a>
        </span>
    </div>
    <div class="canvas" (click)="checkClick($event.currentTarget)"></div>
</div>