<div class="card">
    <div class="card-body">
        <h5 class="card-title">New product</h5>
        <p class="card-text">Add a new product.</p>
        <form>
            <div class="form-group">
                <label for="name">Product name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="name" id="name" placeholder="Enter product name...">
            </div>
            <div class="form-group">
                <label for="descr">Product description</label>
                <input type="text" class="form-control" name="descr" [(ngModel)]="descr" id="descr" placeholder="Enter product description...">
            </div>
            <button type="submit" (click)="addProduct()" class="btn btn-primary">Add product</button>
        </form>
    </div>
</div>