<app-edit-form-item></app-edit-form-item>

<div class="row no-padding max full-height">
  <div class="col col-xl-8 col-lg-8 forms-add no-padding full-height">
    <div class="card full-height">
      <div class="card-body no-padding">
        <h5 class="card-title margin">
          <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
          <ng-container *ngIf="!loading">Edit '{{form.name}}' form</ng-container>

          <div class="control-buttons">
            <button type="submit" [disabled]="formItemsKeys.length === 0 || savingForm" (click)="saveForm()" class="btn btn-primary">Save form</button>
            <button type="submit" class="btn btn-secondary" (click)="dismissFormBuilder()">Close without saving</button>
          </div>
        </h5>

        <ng-scrollbar [autoHide]="true" *ngIf="!loading">
          <div class="form-structure" *ngIf="formItemsKeys.length > 0">
            <div class="form-group" *ngFor="let id of formItemsKeys" draggable droppable (onDrop)="dropExistingItem($event)" [dragOverClass]="'drop-hover'" [dragData]="id" [dragHandle]="'.drag-handle'">
              <div class="drop-overlay" droppable></div>
              <div class="drag-handle"><span></span><span></span><span></span></div>

              <div class="input-field-example">
                <div class="edit form-item" (click)="editFormField(id)"><i class="fa fa-pencil"></i></div>
                <div class="delete form-item" (click)="deleteFormField(id)"><i class="fa fa-trash-o"></i></div>
                <div class="label" *ngIf="fields[id].type !== 'title' && fields[id].type !== 'subtitle'">
                  {{fields[id].name}}
                  <span *ngIf="fields[id].required" class="required"></span>
                </div>
                <h5 *ngIf="fields[id].type === 'title'">{{fields[id].name}}</h5>

                <p *ngIf="fields[id].type === 'subtitle'">{{fields[id].name}}</p>

                <input *ngIf="fields[id].type === 'text'" type="{{fields[id].type}}" class="form-control" name="{{id}}" placeholder="{{fields[id].description}}" disabled />

                <textarea *ngIf="fields[id].type === 'textarea'" placeholder="{{fields[id].description}}" name="{{id}}" class="form-control textarea" disabled></textarea>

                <quill-editor *ngIf="fields[id].type === 'wysiwyg'" (onEditorCreated)="initEditor($event)" [placeholder]="fields[id].description" class="form-quill form-builder" [ngClass]="{'hideToolbar': !fields[id].showToolbar}" [modules]="quillModules"></quill-editor>

                <input *ngIf="fields[id].type === 'numeric'" type="{{fields[id].type}}" class="form-control" name="{{id}}" placeholder="{{fields[id].description}}" disabled />
              </div>
            </div>
          </div>
          <div id="drop-field" *ngIf="!loading" droppable [dropScope]="'new-item'" [dragOverClass]="'hover'" (onDrop)="dropNewItem($event)" [ngClass]="{'dragging': draggingNewItem}">
            Drop a new field here
          </div>
        </ng-scrollbar>
        <div class="placeholder" *ngIf="loading">
          <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i> Loading
        </div>
      </div>
    </div>
  </div>

  <div class="col col-xl-4 col-lg-4">
    <div class="card full-height bg-transparent">
      <div class="card-body">
        <h5 class="card-title">Add new field</h5>
        <div class="new-fields-container">
          <h6>Drag and drop a new field</h6>
          <div class="new-field" *ngFor="let item of formBuilderItems" draggable [dragScope]="'new-item'" [dragData]="item.data" (onDragStart)="draggingNewItem = true" (onDragEnd)="draggingNewItem = false">
            <span class="field-type">{{item.type}}</span>
            <span class="field-description">{{item.description}}</span>
            <span class="field-icon"><i class="fa {{item.icon}}"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>