@import '../../../../assets/styles/global_vars';

$padding-bottom: 0 0 20px 0;
$margin: 0 1.25rem;

.card {
  background: $lighter-bg;
  height: calc(100vh - 116px);
  position: relative;
  .card-title {
    padding: 0 !important;
    position: relative;
    .back-button {
      position: absolute;
      right: 30px;
      top: 0;
      display: none;
    }
    .dropdown {
      position: absolute;
      right: 0;
      top: 0;
      button {
        background: transparent !important;
        color: $default-text-color;
        &:after {
          display: none !important;
        }
      }
    }
  }
  .no-entry {
    .icon {
      width: 100%;
      height: 50px;
      display: inline-block;
      font-size: 32px;
      line-height: 50px;
    }
    position: absolute;
    width: 100%;
    height: 100px;
    line-height: 20px;
    text-align: center;
    top: 50%;
    margin-top: - 50px;
  }
  .card-body {
    .card-title {
      padding: $padding-bottom;
      margin: $margin;
      border-bottom: 1px solid $light-border;
      height: 45px;
    }
    .meta-data {
      height: auto;
      overflow: hidden;
      margin: 20px 1.25rem;
      padding: $padding-bottom;
      border-bottom: 1px solid $light-border;
      box-sizing: border-box;
      p {
        margin: 0;
        .label {
          font-weight: bold;
          width: 50px;
          display: inline-block;
          color: $color-secondary;
        }
      }
    }
    .content {
      height: auto;
      margin: 20px 1.25rem;
      .message, .action-container, .response-container {
        height: auto;
        border-bottom: 1px solid $light-border;
        margin: 0 0 20px 0;
        padding-bottom: 30px;
      }
      .action-container {
        .decisions {
          margin: 20px 0;
          table {
            padding: 10px;
            tr {
              background: #f2f2f2;
              border-bottom: 1px solid $light-border;
              &:last-child {
                border-bottom: none;
              }
              td {
                &:first-child {
                  padding: 10px 5px 10px 10px;
                }
                &:last-child {
                  padding: 10px 10px 10px 5px;
                }
                label {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Media Queries */
@media only screen and (max-width: 980px) {
  .card .card-title .back-button {
    display: block;
  }

  .card .card-body .content {
    .message {
      .ch-table {
        .ch-row {
          overflow: auto;
          width: 80%;
          float: left;
          display: block;
          padding: 0;
          &.ch-head {
            width: 20% !important;
          }
          &:last-child {
            border-bottom: none;
          }
          .expand {
            display: none;
          }
          .ch-col {
            border-bottom: 1px solid $light-border;
            padding: 0 10px;
            float: left;
            min-width: 100%;
          }
        }
      }
    }
  }
}