<div class="card bg-transparent no-padding">
  <div class="card-body no-padding">
    <h5 class="card-title">Added products</h5>
    <div class="ch-table ch-no-padding ch-table-striped ch-no-text-overflow ch-col-max-h">
      <div class="ch-row ch-head" *ngIf="structureKeys.length > 0">
        <div class="ch-col ch-text-overflow-ellipsis" *ngFor="let key of structureKeys">{{structure[key]['name']}}</div>
        <div class="ch-col ch-text-overflow-ellipsis">Status</div>
      </div>
      <ng-container *ngIf="content.length > 0; else noProducts">
        <div class="ch-row" *ngFor="let product of content">
          <div class="ch-col ch-text-overflow-ellipsis" *ngFor="let key of structureKeys">
            {{product[key]}}
          </div>
          <div class="ch-col">
            <span [ngClass]="{'declined': product.status == 'declined', 'approved': product.status == 'approved' }" class="status">{{product['status']}}</span>
          </div>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <div class="no-products">No products</div>
      </ng-template>
    </div>
  </div>
</div>