@import '../../../../assets/styles/global_vars';

.status {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 3px;
  background-color: lightgray;
  font-size: 11px;
  font-weight: bold;
  &.approved {
    background-color: $color-success;
    color: #fff;
  }
  &.declined {
    background-color: $color-danger;
    color: #fff;
  }
}

.no-products {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}