<div class="card no-padding">
  <div class="card-body no-padding">
    <h5 class="card-title">Added products</h5>
    <div class="ch-table ch-no-padding ch-table-striped ch-no-text-overflow ch-col-max-h">
      <div class="ch-row ch-head">
        <div class="ch-col">Name</div>
        <div class="ch-col">Description</div>
        <div class="ch-col">Status</div>
      </div>
      <div class="ch-row" *ngFor="let product of products">
        <div class="ch-col">
          {{product.ca_name}}
        </div>
        <div class="ch-col ch-overflow-hidden">
          {{product.ca_description}}
        </div>
        <div class="ch-col">
          <span [ngClass]="{'declined': product.status == 'declined', 'approved': product.status == 'approved' }" class="status">{{product.status}}</span>
        </div>
      </div>
    </div>
  </div>
</div>