@import '../../../../assets/styles/global_vars';

.card {
  .card-body {
    position: relative;
    .no-selected {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      line-height: calc(100vh - 116px);
    }
    .new-column {
      height: 40px;
      width: 100%;
      text-align: center;
      line-height: 40px;
      background: $color-secondary;
      color: #fff;
      cursor: pointer;
      @include transition(.2s);
      &:hover {
        background: #838383;
      }
    }
  }
}

.right {
  position: absolute;
  right: 1.25rem;
  top: 8px;
}