<div class="card max bg-transparent">
  <div class="card-body no-padding full-height max">
    <ng-container *ngIf="tableName === ''; else tableDetails">
      <div class="no-selected">No data table selected</div>
    </ng-container>

    <ng-template #tableDetails>
      <h5 class="card-title">
        {{tableName}}
        <button class="btn btn-secondary right" (click)="dismissTable()">Close data table</button>
      </h5>

      <ng-scrollbar [autoHide]="true">
      <div class="ch-table ch-no-padding ch-table-striped">
        <div class="ch-row ch-head">
          <div class="ch-col">Field name</div>
          <div class="ch-col">Type</div>
          <div class="ch-col">Delete</div>
        </div>
        <div class="ch-row" *ngFor="let column of columns">
          <div class="ch-col">{{column.Field}}</div>
          <div class="ch-col">{{column.Type}}</div>
          <div class="ch-col">
              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteColumnModal" (click)="deleteColumn(column.Field)"><i class="fa fa-trash"></i></button>
          </div>
        </div>

        <div class="ch-row" *ngIf="columns.length === 0">
          <div class="ch-col" *ngIf="!loading">No columns available</div>
          <div class="ch-col" *ngIf="loading">Loading columns...</div>
          <div class="ch-col"></div>
          <div class="ch-col"></div>
        </div>
      </div>
      <div *ngIf="!loading" class="new-column" data-toggle="modal" data-target="#newColumnModal"><i class="fa fa-plus"></i> Add new data table column</div>
      </ng-scrollbar>
    </ng-template>
  </div>
</div>