.hide, .show {
  display: block;
}

.datatable-detail {
  &.show {
    display: block;
  }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .datatable-detail, .hide {
    display: none;
  }
}