/* Variables */
@keyframes loading-animation {
  0% {
    background-color: #474e5e; }
  50% {
    background-color: #80848d; }
  100% {
    background-color: #474e5e; } }
.sidebar {
  background: #2B303B;
  height: 100vh;
  position: fixed;
  width: 250px;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }
  .sidebar.show {
    left: 0; }
  .sidebar .placeholder {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 30px; }
    .sidebar .placeholder span {
      display: block;
      height: 15px;
      margin-bottom: 15px;
      background: #474e5e;
      position: relative;
      animation-name: loading-animation;
      animation-iteration-count: infinite;
      animation-duration: 2s; }
      .sidebar .placeholder span:first-child {
        width: calc(70% - 30px);
        animation-delay: .2s; }
      .sidebar .placeholder span:nth-child(2) {
        width: calc(60% - 30px);
        animation-delay: .4s; }
      .sidebar .placeholder span:nth-child(3) {
        width: calc(100% - 30px);
        animation-delay: .6s; }
      .sidebar .placeholder span:nth-child(4) {
        width: calc(70% - 30px);
        animation-delay: .8s; }
      .sidebar .placeholder span:last-child {
        width: calc(65% - 30px);
        animation-delay: 1s; }
  .sidebar .sidebar-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: #272b35;
    border-bottom: 1px solid #232730; }
  .sidebar ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
    padding: 15px 0 0 0;
    margin: 0; }
    .sidebar ul a {
      font-family: Arial, sans-serif;
      width: 100%;
      height: 40px;
      display: block;
      overflow: hidden;
      position: relative;
      line-height: 40px;
      margin-bottom: 5px; }
      .sidebar ul a.active li {
        color: #fff;
        cursor: default; }
      .sidebar ul a li {
        font-size: 14px;
        margin: 0;
        position: absolute;
        color: #788296;
        left: 32px;
        right: 0;
        transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out; }
        .sidebar ul a li .icon-thumbnail {
          width: 40px;
          height: 40px;
          background: #21252d;
          text-align: center;
          line-height: 40px;
          display: inline-block;
          position: absolute;
          right: 14px;
          font-size: 16px; }
        .sidebar ul a li:hover {
          color: #fff !important; }
        .sidebar ul a li .entries-count {
          display: inline-block;
          background: #f8d053;
          padding: 0 5px;
          border-radius: 20px;
          height: 17px;
          line-height: 1.75;
          position: absolute;
          top: 23px;
          right: 7px;
          font-size: 10px;
          font-weight: bold;
          width: auto;
          color: #fff;
          z-index: 4; }

h4 {
  text-transform: uppercase;
  font-size: 1em;
  color: #bfbfbf;
  margin: 10px 0 10px 20px;
  font-weight: 400; }

li:first-child {
  margin-top: 30px; }

/* Media Queries */
@media only screen and (max-width: 980px) {
  .sidebar {
    left: -250px; } }

/*# sourceMappingURL=sidebar.component.css.map */
