/* Variables */
@import '../../../assets/styles/global_vars';
$nav-item-height: 40px;

.sidebar {
  background: #2B303B;
  height: 100vh;
  position: fixed;
  width: $sidebar-width;
  z-index: 10;
  @include transition(.2s);
  &.show {
    left: 0;
  }
  .sidebar-header {
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    color: #fff;
    background: #272b35;
    border-bottom: 1px solid #232730;
  }
  ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
    padding: 15px 0 0 0;
    margin: 0;
    li {
      display: block;
      padding: 0;
      margin: 0;
      clear: right;
      color: #788296;
      position: relative;
      @include transition(.2s);
      a {
        font-family: Arial, sans-serif;
        display: inline-block;
        padding: 0 3px 0 32px;
        min-height: $nav-item-height;
        line-height: $nav-item-height;
        font-size: 14px;
        clear: both;
        .title {
          float: left;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
        }
        .entries-count {
          display: inline-block;
          background: #788296;
          padding: 0 5px;
          border-radius: 20px;
          height: 17px;
          line-height: 1.75;
          position: absolute;
          top: 12px;
          left: 80px;
          font-size: 10px;
          font-weight: bold;
          width: auto;
          color: #2B303B;
        }
      }
      .icon-thumbnail {
        display: inline-block;
        background: #21252d;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        position: relative;
        left: 0;
        float: right;
        margin-right: 14px;
        color: #788296;
        font-size: 16px;
      }
      &:hover {
        color: #fff !important;
      }
    }
  }
}

h4 {
  text-transform: uppercase;
  font-size: 1em;
  color: #bfbfbf;
  margin: 10px 0 10px 20px;
  font-weight: 400;
}

li:first-child {
  margin-top: 30px;
}

/* Media Queries */
@media only screen and (max-width: 980px) {
  .sidebar {
    left: -250px;
  }
}