<div class="modal fade" id="deleteFormModal" tabindex="-1" role="dialog" aria-labelledby="deleteFormModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteFormModalTitle">Delete '{{content['name']}}'</h5>
        <button type="button" class="close" id="closeDeleteFormModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete form '{{content['name']}}' with identifier '{{content['identifier']}}'?</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="dismissModal()" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn" (click)="deleteForm(content['id'])" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>