@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");
html, body {
  background: #fafafa;
  color: #626262;
  font-size: 14px; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
  box-shadow: none !important; }

a {
  color: inherit !important;
  text-decoration: none !important; }

/* ------------------------------ */
/* ng-select global styling start */
::placeholder, .ng-placeholder {
  color: #7d858c !important; }

ng-select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 2 !important; }

.ng-placeholder {
  z-index: 1 !important; }

.ng-input input, ng-select {
  cursor: text !important; }

.ng-input input, .ng-placeholder, .ng-value {
  margin: 5px 0; }

ng-dropdown-panel {
  z-index: 9; }

.ng-clear-wrapper {
  padding-top: 7px; }

.ng-dropdown-panel {
  left: 0;
  z-index: 1 !important; }

.ng-value {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background: #f4f4f4;
  margin-right: 10px; }

.ng-value-icon {
  width: 20px;
  text-align: center;
  border-right: 1px solid #d1d1d1; }

.ng-value-label {
  margin: 0 10px; }

.ng-select-container.ng-has-value .ng-placeholder {
  display: none; }

.ng-optgroup {
  font-weight: bold;
  color: #626262; }

.ng-option {
  color: #a8a8a8;
  height: 30px;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }
  .ng-option.ng-option-marked {
    font-weight: bold;
    color: #2b2b2b; }
  .ng-option:hover {
    color: #2b2b2b; }
    .ng-option:hover.ng-option-disabled {
      color: #a8a8a8 !important; }

/* ng-select global styling end */
/* ---------------------------- */
.textarea {
  min-height: 100px; }

.bjs-container a {
  z-index: 0 !important; }

.required {
  position: relative;
  width: 100%; }
  .required:after {
    content: '* required';
    display: inline-block;
    position: absolute;
    right: 0;
    color: #c7c7c7; }

#page-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 116px 0 0 250px; }

.btn {
  background: #2390a8 !important;
  border: #2390a8 !important;
  font-family: 'Arial';
  color: #fff; }
  .btn.lighter {
    background: #10cfbd !important;
    border: #10cfbd !important; }
  .btn.btn-secondary {
    background: #c7c7c7 !important;
    border: #c7c7c7 !important;
    color: #626262; }
  .btn.btn-danger {
    background: #f55753 !important;
    border: #f55753 !important; }

.breadcrumbs {
  margin: 0;
  padding: 0 0 0 40px;
  font-size: 14px;
  background: #f0f0f0; }
  .breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 55px; }
    .breadcrumbs ul li {
      display: inline-block;
      font-weight: 600;
      height: 55px;
      line-height: 55px;
      color: #7b7d82;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 11px;
      transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }
      .breadcrumbs ul li:hover {
        color: #0090d9; }
      .breadcrumbs ul li:after {
        color: #000 !important;
        font-family: FontAwesome;
        content: '\f105';
        width: 30px;
        text-align: center;
        display: inline-block; }
      .breadcrumbs ul li:last-child {
        color: #0090d9;
        font-weight: 700;
        cursor: default !important; }
        .breadcrumbs ul li:last-child:after {
          display: none; }

.row {
  padding: 30px 40px; }

.right {
  float: right; }

.left {
  float: left; }

.no-padding {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-radius: 0; }
  .no-padding h5, .no-padding .table {
    padding: 0 1.25rem !important; }

.row {
  width: 100%;
  margin: 0;
  padding: 30px 25px; }
  .row.no-padding {
    padding: 0; }
    .row.no-padding .col {
      padding: 0; }
      .row.no-padding .col .card .card-body {
        border-bottom: 0;
        height: calc(100vh - 116px);
        overflow: hidden; }
  .row.full-height {
    min-height: 100%;
    height: auto;
    overflow: hidden; }
    .row.full-height.max {
      height: 100%;
      min-height: 100%;
      max-height: 100%; }
    .row.full-height .card {
      border: none;
      border-radius: 0; }

.dropdown-menu .dropdown-item {
  cursor: pointer; }
  .dropdown-menu .dropdown-item:active {
    background: #e3e3e3; }

.loader {
  width: 100%;
  height: 100%;
  background: red; }

/* Table */
.ch-table {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 1.25rem; }
  .ch-table.height-auto .ch-row, .ch-table.height-auto .ch-row .ch-col {
    max-height: none !important;
    height: auto !important; }
    .ch-table.height-auto .ch-row.ch-head, .ch-table.height-auto .ch-row .ch-col.ch-head {
      max-height: 40px !important;
      height: 40px !important;
      line-height: 40px !important; }
    .ch-table.height-auto .ch-row .ch-col, .ch-table.height-auto .ch-row .ch-col .ch-col {
      white-space: normal !important;
      overflow: auto !important;
      line-height: 1.5;
      margin: 10px 0; }
  .ch-table.ch-col-max-h .ch-row .ch-col {
    max-height: 40px; }
  .ch-table.ch-no-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .ch-table.ch-table-striped .ch-row:nth-child(odd) {
    background: #F2F2F2; }
  .ch-table.ch-table-striped .ch-row:nth-child(even) {
    background: #fff; }
  .ch-table.ch-no-padding {
    padding: 0; }
    .ch-table.ch-no-padding .ch-row {
      padding: 0 1.25rem; }
      .ch-table.ch-no-padding .ch-row:last-child {
        border-bottom: 1px solid #e6e6e6; }
  .ch-table .ch-row {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    border-top: 1px solid #e6e6e6; }
    .ch-table .ch-row.ch-head {
      font-weight: bold;
      position: relative; }
      .ch-table .ch-row.ch-head .expand {
        position: absolute;
        right: 1.25rem;
        height: 40px;
        line-height: 40px;
        cursor: pointer; }
    .ch-table .ch-row .ch-col {
      height: auto;
      min-height: 40px;
      line-height: 40px;
      width: 50%;
      position: relative; }
      .ch-table .ch-row .ch-col.ch-text-overflow-ellipsis {
        padding: 0 10px 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .ch-table .ch-row .ch-col.ch-text-overflow-ellipsis:last-child {
          padding: 0; }
      .ch-table .ch-row .ch-col.ch-overflow-hidden {
        overflow: hidden; }

.select2-free-input {
  cursor: pointer; }
  .select2-free-input .option {
    cursor: default;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    line-height: 22px;
    margin: 3px 5px 3px 0;
    padding: 0 4px !important;
    background-color: #efefef;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: #626262;
    font-size: 12px;
    max-width: 100%; }
    .select2-free-input .option .deselect-option {
      padding: 0 !important; }
  .select2-free-input input {
    min-width: 2px;
    width: auto;
    max-width: 100%;
    cursor: pointer;
    outline: none;
    border: none; }
    .select2-free-input input.min-width {
      width: 2px; }

/* Error message when no form is available for rendering by the form directive */
.no-form-msg {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fddddd;
  color: #933432; }
  .no-form-msg .head {
    padding: 5px 10px;
    font-weight: bold; }
  .no-form-msg .body {
    padding: 0 10px 5px 10px; }
    .no-form-msg .body span {
      display: inline-block;
      background: white;
      padding: 0 5px;
      margin: 0 2px;
      border: 1px solid #d0d0d0;
      font-family: 'Courier New';
      border-radius: 2px;
      color: #626262; }

/* End error message styling */
/* DateTime picker styling */
owl-date-time-container {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #ced4da;
  border-radius: 5px; }

.owl-dt-container-buttons {
  color: #2390a8 !important; }

.owl-dt-calendar-cell-selected {
  background: #2390a8 !important; }

.btn-secondary {
  color: #fff !important; }

*[data-form] {
  display: none; }

/* Hidden modeler items */
.djs-palette-entries .group .bpmn-icon-connection-multi, .djs-palette-entries .group .bpmn-icon-intermediate-event-none,
.djs-palette-entries .group .bpmn-icon-subprocess-expanded, .djs-palette-entries .group .bpmn-icon-data-object, .djs-palette-entries .group .bpmn-icon-data-store, .djs-palette-entries .group .bpmn-icon-participant {
  display: none; }

.djs-context-pad .group[data-group='model'] {
  display: none; }
.djs-context-pad .group .bpmn-icon-screw-wrench {
  display: none; }

.djs-search-container {
  margin: 0;
  left: 90px; }
  .djs-search-container .djs-search-input input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none !important; }

.cdk-overlay-backdrop {
  opacity: 0 !important; }

/* -------------------------- */
/* Quill editor styling start */
.message-quill .ql-toolbar {
  position: absolute !important;
  top: 300px;
  left: 1.25rem;
  right: 1.25rem;
  border: none;
  background: #f0f0f0;
  border-bottom: none !important;
  z-index: 1; }
.message-quill .ql-container {
  border: none !important;
  margin-top: 70px; }
  .message-quill .ql-container .ql-editor {
    padding: 0 !important;
    font-family: 'Segoe UI' !important;
    font-size: 14px;
    overflow: hidden !important;
    margin-bottom: 10px; }
    .message-quill .ql-container .ql-editor:before {
      font-style: normal !important; }
    .message-quill .ql-container .ql-editor a {
      text-decoration: underline !important;
      color: #2390a8 !important; }

.response-message-quill .ql-toolbar {
  border: none;
  background: #f0f0f0;
  border-bottom: none !important; }
.response-message-quill .ql-container {
  border: none !important; }
  .response-message-quill .ql-container .ql-editor {
    padding: 0 !important;
    font-family: 'Segoe UI' !important;
    font-size: 14px;
    overflow: hidden !important;
    margin: 20px 0 0 0; }
    .response-message-quill .ql-container .ql-editor:before {
      font-style: normal !important; }
    .response-message-quill .ql-container .ql-editor a {
      text-decoration: underline !important;
      color: #2390a8 !important; }

.form-quill.form-builder {
  cursor: default !important; }
.form-quill.hideToolbar .ql-toolbar {
  display: none !important; }
.form-quill.hideToolbar .ql-container {
  border: none !important; }
  .form-quill.hideToolbar .ql-container .ql-editor {
    border: 1px solid #ced4da;
    border-radius: .25rem; }
.form-quill .ql-toolbar {
  background: #f0f0f0;
  border-bottom: none !important; }
.form-quill .ql-container .ql-editor {
  font-family: 'Segoe UI' !important;
  font-size: 14px;
  overflow: hidden !important;
  background: #fff;
  padding: .375rem .75rem;
  min-height: 100px; }
  .form-quill .ql-container .ql-editor:before {
    font-style: normal !important; }
  .form-quill .ql-container .ql-editor a {
    text-decoration: underline !important;
    color: #2390a8 !important; }

.ql-tooltip {
  left: 50% !important;
  margin-left: -154px !important; }

/* Quill editor styling end */
/* ------------------------- */
.response-message-content p, .message p {
  margin: 0 !important; }

.response-message-content a, .message a {
  text-decoration: underline;
  color: #2390a8; }

/* Media Queries */
@media only screen and (max-width: 980px) {
  .bjs-powered-by {
    display: none !important; } }

/*# sourceMappingURL=styles.css.map */
