@import 'assets/styles/global_vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900');

html, body {
  background: #fafafa;
  color: $default-text-color;
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

/* ------------------------------ */
/* ng-select global styling start */

::placeholder, .ng-placeholder {
  color: #7d858c !important;
}

ng-select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 2 !important;
}

.ng-placeholder {
  z-index: 1 !important;
}

.ng-input input, ng-select {
  cursor: text !important;
}

.ng-input input, .ng-placeholder, .ng-value {
  margin: 5px 0;
}

ng-dropdown-panel {
  z-index: 9;
}

.ng-clear-wrapper {
  padding-top: 7px;
}

.ng-dropdown-panel {
  left: 0;
  z-index: 1 !important;
}

.ng-value {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background: #f4f4f4;
  margin-right: 10px;
}

.ng-value-icon {
  width: 20px;
  text-align: center;
  border-right: 1px solid #d1d1d1;
}

.ng-value-label {
  margin: 0 10px;
}

.ng-select-container {
  &.ng-has-value {
    .ng-placeholder {
      display: none;
    }
  }
}

.ng-optgroup {
  font-weight: bold;
  color: $default-text-color;
}

.ng-option {
  color: #a8a8a8;
  height: 30px;
  line-height: 30px;
  @include transition(.2s);
  &.ng-option-marked {
    font-weight: bold;
    color: #2b2b2b;
  }
  &:hover {
    &.ng-option-disabled {
      color: #a8a8a8 !important;
    }
    color: #2b2b2b;
  }
}

/* ng-select global styling end */
/* ---------------------------- */

.textarea {
  min-height: 100px;
}

.bjs-container a {
  z-index: 0 !important;
}

.required {
  position: relative;
  width: 100%;
  &:after {
    content: '* required';
    display: inline-block;
    position: absolute;
    right: 0;
    color: $color-secondary;
  }
}

#page-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: $header-container-height 0 0 $sidebar-width;
}

.btn {
  background: $color-default !important;
  border: $color-default !important;
  font-family: 'Arial';
  color: #fff;
  &.lighter {
    background: $color-success !important;
    border: $color-success !important;
  }
  &.btn-secondary {
    background: $color-secondary !important;
    border: $color-secondary !important;
    color: $default-text-color;
  }
  &.btn-danger {
    background: $color-danger !important;
    border: $color-danger !important;
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0 0 0 $content-padding;
  font-size: 14px;
  background: #f0f0f0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: $breadcrumbs-height;
    li {
      display: inline-block;
      font-weight: 600;
      height: $breadcrumbs-height;
      line-height: $breadcrumbs-height;
      color: #7b7d82;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 11px;
      @include transition(.2s);
      &:hover {
        color: #0090d9;
      }
      &:after {
        color: #000 !important;
        font-family: FontAwesome;
        content: '\f105';
        width: 30px;
        text-align: center;
        display: inline-block;
      }
      &:last-child {
        color: #0090d9;
        font-weight: 700;
        cursor: default !important;
        &:after {
          display: none;
        }
      }
    }
  }
}

.row {
  padding: 30px 40px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-radius: 0;
  h5, .table {
    padding: 0 1.25rem !important;
  }
}

.row {
  width: 100%;
  margin: 0;
  padding: 30px 25px;
  &.no-padding {
    padding: 0;
    .col {
      padding: 0;
      .card {
        .card-body {
          border-bottom: 0;
          height: calc(100vh - 116px);
          overflow: hidden;
        }
      }
    }
  }
  &.full-height {
    @include full-height;
    &.max {
      height: 100%;
      min-height: 100%;
      max-height: 100%;
    }
    .card {
      border: none;
      border-radius: 0;
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    cursor: pointer;
    &:active {
      background: #e3e3e3;
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  background: red;
}

/* Table */
.ch-table {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 1.25rem;
  &.height-auto {
    .ch-row, .ch-row .ch-col {
      max-height: none !important;
      height: auto !important;
      &.ch-head {
        max-height: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
      }
      .ch-col {
        white-space: normal !important;
        overflow: auto !important;
        line-height: 1.5;
        margin: 10px 0;
      }
    }
  }
  &.ch-col-max-h {
    .ch-row {
      .ch-col {
        max-height: 40px;
      }
    }
  }
  &.ch-no-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.ch-table-striped {
    .ch-row:nth-child(odd) {
      background: #F2F2F2;
    }
    .ch-row:nth-child(even) {
      background: #fff;
    }
  }
  &.ch-no-padding {
    padding: 0;
    .ch-row {
      padding: 0 1.25rem;
      &:last-child {
        border-bottom: 1px solid $light-border;
      }
    }
  }
  .ch-row {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    border-top: 1px solid $light-border;
    &.ch-head {
      font-weight: bold;
      position: relative;
      .expand {
        position: absolute;
        right: 1.25rem;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
      }
    }
    .ch-col {
      height: auto;
      min-height: 40px;
      line-height: 40px;
      width: 50%;
      position: relative;
      &.ch-text-overflow-ellipsis {
        padding: 0 10px 0 0;
        @include text-overflow;
        &:last-child {
          padding: 0;
        }
      }
      &.ch-overflow-hidden {
        overflow: hidden;
      }
    }
  }
}

.select2-free-input {
  cursor: pointer;
  .option {
    cursor: default;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    line-height: 22px;
    margin: 3px 5px 3px 0;
    padding: 0 4px !important;
    background-color: #efefef;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: #626262;
    font-size: 12px;
    max-width: 100%;
    .deselect-option {
      padding: 0 !important;
    }
  }
  input {
    min-width: 2px;
    width: auto;
    max-width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    &.min-width {
      width: 2px;
    }
  }
}

/* Error message when no form is available for rendering by the form directive */
.no-form-msg {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fddddd;
  color: #933432;
  .head {
    padding: 5px 10px;
    font-weight: bold;
  }
  .body {
    padding: 0 10px 5px 10px;
    span {
      display: inline-block;
      background: white;
      padding: 0 5px;
      margin: 0 2px;
      border: 1px solid #d0d0d0;
      font-family: 'Courier New';
      border-radius: 2px;
      color: $default-text-color;
    }
  }
}
/* End error message styling */

/* DateTime picker styling */

owl-date-time-container {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.owl-dt-container-buttons {
  color: $color-default !important;
}

.owl-dt-calendar-cell-selected {
  background: $color-default !important;
}

.btn-secondary {
  color: #fff !important;
}

*[data-form] {
  display: none;
}

/* Hidden modeler items */
.djs-palette-entries {
  .group {
    .bpmn-icon-connection-multi, .bpmn-icon-intermediate-event-none,
    .bpmn-icon-subprocess-expanded, .bpmn-icon-data-object, .bpmn-icon-data-store, .bpmn-icon-participant {
      display: none;
    }
  }
}

.djs-context-pad {
  .group[data-group='model'] {
    display: none;
  }
  .group {
    .bpmn-icon-screw-wrench {
      display: none;
    }
  }
}

.djs-search-container {
  margin: 0;
  left: 90px;
  .djs-search-input {
    input {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      outline: none !important;
    }
  }
}

.cdk-overlay-backdrop {
  opacity: 0 !important;
}

/* -------------------------- */
/* Quill editor styling start */

.message-quill {
  .ql-toolbar {
    position: absolute !important;
    top: 300px;
    left: 1.25rem;
    right: 1.25rem;
    border: none;
    background: #f0f0f0;
    border-bottom: none !important;
    z-index: 1;
  }
  .ql-container {
    border: none !important;
    margin-top: 70px;
    .ql-editor {
      padding: 0 !important;
      font-family: 'Segoe UI' !important;
      font-size: 14px;
      overflow: hidden !important;
      margin-bottom: 10px;
      &:before {
        font-style: normal !important;
      }
      a {
        text-decoration: underline !important;
        color: $color-default !important;
      }
    }
  }
}

.response-message-quill {
  .ql-toolbar {
    border: none;
    background: #f0f0f0;
    border-bottom: none !important;
  }
  .ql-container {
    border: none !important;
    .ql-editor {
      padding: 0 !important;
      font-family: 'Segoe UI' !important;
      font-size: 14px;
      overflow: hidden !important;
      margin: 20px 0 0 0;
      &:before {
        font-style: normal !important;
      }
      a {
        text-decoration: underline !important;
        color: $color-default !important;
      }
    }
  }
}

.form-quill {
  &.form-builder {
    cursor: default !important;
  }
  &.hideToolbar {
    .ql-toolbar {
      display: none !important;
    }
    .ql-container {
      border: none !important;
      .ql-editor {
        border: 1px solid #ced4da;
        border-radius: .25rem;
      }
    }
  }
  .ql-toolbar {
    background: #f0f0f0;
    border-bottom: none !important;
  }
  .ql-container {
    .ql-editor {
      font-family: 'Segoe UI' !important;
      font-size: 14px;
      overflow: hidden !important;
      background: #fff;
      padding: .375rem .75rem;
      min-height: 100px;
      &:before {
        font-style: normal !important;
      }
      a {
        text-decoration: underline !important;
        color: $color-default !important;
      }
    }
  }
}

.ql-tooltip {
  left: 50% !important;
  margin-left: -154px !important;
}

/* Quill editor styling end */
/* ------------------------- */

.response-message-content p, .message p {
  margin: 0 !important;
}

.response-message-content a, .message a {
  text-decoration: underline;
  color: $color-default;
}

/* Media Queries */
@media only screen and (max-width: 980px) {
  .bjs-powered-by {
    display: none !important;
  }
}