@import '../../../../assets/styles/global_vars';

.card {
  background: #f8f8f8;
}

#canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .placeholder {
    z-index: 2;
    position: absolute;
    background: #fafafa;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    line-height: calc(100vh - 116px);
    text-align: center;
  }
}