<div class="keyboard-shortcuts-overlay" *ngIf="show" (click)="hideKeyboardShortcuts($event.target)">
  <div class="keyboard-shortcuts">
      <h4>Keyboard shortcuts</h4>
      <table>
          <tr>
            <td>Undo</td>
            <td><span>Ctrl</span> + <span>Z</span></td>
          </tr>
        <tr>
          <td>Redo</td>
          <td><span>Ctrl</span> + <span>Shift</span> + <span>Z</span></td>
        </tr>
        <tr>
          <td>Select all</td>
          <td><span>Ctrl</span> + <span>A</span></td>
        </tr>
        <tr>
          <td>Search</td>
          <td><span>Ctrl</span> + <span>F</span></td>
        </tr>
        <tr>
          <td>Zoom in</td>
          <td><span>Ctrl</span> + <span>+</span></td>
        </tr>
        <tr>
          <td>Zoom out</td>
          <td><span>Ctrl</span> + <span>-</span></td>
        </tr>
        <tr>
          <td>Zoom to default size</td>
          <td><span>Ctrl</span> + <span>0</span></td>
        </tr>
        <tr>
          <td>Hand tool</td>
          <td><span>H</span></td>
        </tr>
        <tr>
          <td>Lasso tool</td>
          <td><span>L</span></td>
        </tr>
        <tr>
          <td>Space tool</td>
          <td><span>S</span></td>
        </tr>
      </table>
  </div>
</div>